In [121]:
import pandas as pd

In [122]:
dd={'oop':{'3rd':22},'java':{'5th':60},"Ds":{'6th':51}}

In [123]:
df2=pd.DataFrame(dd)

In [124]:
df2

      oop  java    Ds
3rd  22.0   NaN   NaN
5th   NaN  60.0   NaN
6th   NaN   NaN  51.0

In [125]:
s=pd.Series([20,4,8],index=["3rd","5th","6th"])

In [126]:
df2["c#"]=s.values

In [127]:
df2

      oop  java    Ds  c#
3rd  22.0   NaN   NaN  20
5th   NaN  60.0   NaN   4
6th   NaN   NaN  51.0   8

## Add column

In [128]:
df2["7th"]=[30,60,30]

In [129]:
df2=df2.drop(['7th'],axis=1)

In [130]:
df2.copy()

      oop  java    Ds  c#
3rd  22.0   NaN   NaN  20
5th   NaN  60.0   NaN   4
6th   NaN   NaN  51.0   8

In [131]:
df2

      oop  java    Ds  c#
3rd  22.0   NaN   NaN  20
5th   NaN  60.0   NaN   4
6th   NaN   NaN  51.0   8

## Add row

In [132]:
import numpy as np
arr=np.arange(12).reshape(3,4)

In [133]:
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [134]:
df4=pd.DataFrame(arr)

In [135]:
df4

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [136]:
df4.loc[len(df4.index)]=[12,13,14,15]

In [137]:
df4

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

## append method

In [138]:
dd1={"oop":{'ist':70},"cpp":{'2nd':80},"java":{'3rd':90},"Ds":{'4th':95}}

In [139]:
df5=pd.DataFrame(dd1)

In [140]:
df5['oop']=[79,40,90,80]

In [141]:
df5['ist']=[79,40,90,80]

In [142]:
df5=df5.drop(['ist'],axis=1)

In [143]:
df5.copy()

     oop   cpp  java    Ds
ist   79   NaN   NaN   NaN
2nd   40  80.0   NaN   NaN
3rd   90   NaN  90.0   NaN
4th   80   NaN   NaN  95.0

In [144]:
df5

     oop   cpp  java    Ds
ist   79   NaN   NaN   NaN
2nd   40  80.0   NaN   NaN
3rd   90   NaN  90.0   NaN
4th   80   NaN   NaN  95.0

In [145]:
df5.loc['2nd','java']=[37]

In [146]:
df5

     oop   cpp  java    Ds
ist   79   NaN   NaN   NaN
2nd   40  80.0  37.0   NaN
3rd   90   NaN  90.0   NaN
4th   80   NaN   NaN  95.0

## add row

In [147]:
dd3={'oop':40,'cpp':70,'java':80,'Ds':90}

In [148]:
df5

     oop   cpp  java    Ds
ist   79   NaN   NaN   NaN
2nd   40  80.0  37.0   NaN
3rd   90   NaN  90.0   NaN
4th   80   NaN   NaN  95.0

In [151]:
df5=df5.append(dd3,ignore_index=True)

In [152]:
df5.copy()

   oop   cpp  java    Ds
0   79   NaN   NaN   NaN
1   40  80.0  37.0   NaN
2   90   NaN  90.0   NaN
3   80   NaN   NaN  95.0
4   40  70.0  80.0  90.0

In [153]:
df5

   oop   cpp  java    Ds
0   79   NaN   NaN   NaN
1   40  80.0  37.0   NaN
2   90   NaN  90.0   NaN
3   80   NaN   NaN  95.0
4   40  70.0  80.0  90.0

## Add column

In [160]:
dd4={"C":90}

In [161]:
df5=df5.append(dd4,ignore_index=True)

In [162]:
df5.copy()

    oop   cpp  java    Ds     C
0  79.0   NaN   NaN   NaN   NaN
1  40.0  80.0  37.0   NaN   NaN
2  90.0   NaN  90.0   NaN   NaN
3  80.0   NaN   NaN  95.0   NaN
4  40.0  70.0  80.0  90.0   NaN
5   NaN   NaN   NaN   NaN  [90]
6   NaN   NaN   NaN   NaN  90.0

In [163]:
df5.loc[6,'Ds']=[40]

In [164]:
df5

    oop   cpp  java    Ds     C
0  79.0   NaN   NaN   NaN   NaN
1  40.0  80.0  37.0   NaN   NaN
2  90.0   NaN  90.0   NaN   NaN
3  80.0   NaN   NaN  95.0   NaN
4  40.0  70.0  80.0  90.0   NaN
5   NaN   NaN   NaN   NaN  [90]
6   NaN   NaN   NaN  40.0  90.0